body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.bg-dark {
    background-color: tomato!important;
  }

.navbar-dark .navbar-brand {
    color: black;
  }

.navbar-dark .navbar-nav .active>.nav-link {
  color: black;
}

.btn-primary {
    background-color: peru;
    border-color: peru;
